/* GENERIC TILES STYLE */
.tile {
  animation: tileAppears 1s ease-out;
  float: left;
  height: 1em;
  position: relative;
  width: 1em;
  top: 0;
  box-sizing: border-box;
}
/* INITIAL EFFECT */
.tile:nth-child(odd) {
  animation-duration: 1.3s;
}

.tile:nth-child(even) {
  animation-duration: 0.9s;
}

.tile:nth-child(3n + 2) {
  animation-duration: 1.1s;
}

/* TILES CLASES */
.tile.free {
  /*animation: tileChange 0.5s ease-in;*/
}

.tile.focus {
  border: 1px solid red;
}

/* FLAGS ON TILES */
.tile .flag {
  animation: flagAppears 0.5s ease-out;
  display: block;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}

/* TREASURES ON TILES */
.tile .treasure {
  animation: flagAppears 0.5s ease-out;
  display: block;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}

/* NUMBERS ON TILES */
.tile .number {
  animation: numberAppears 1s ease-out;
  color: #333;
  display: block;
  font-size: 0.4em;
  font-weight: bold;
  position: absolute;
  text-align: right;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 5px 30px yellow, 0 5px 70px yellow;
  top: 0;
  width: 100%;
}

/* TILE ANIMATIONS */
@keyframes tileAppears {
  0% {
    box-shadow: none;
    top: -30em;
  }
  99% {
    box-shadow: none;
  }
  100% {
    top: 0;
  }
}

@keyframes tileChange {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flagAppears {
  0% {
    top: -30em;
  }
  100% {
    top: 0;
  }
}
@keyframes numberAppears {
  0% {
    font-size: 1.5em;
    top: -0.5em;
    opacity: 0;
  }
  50% {
    font-size: 1.5em;
    top: -0.5em;
    opacity: 0.7;
  }
  100% {
    font-size: 0.7em;
    top: 0;
    opacity: 1;
  }
}
