@import "~rodal/lib/rodal.css";
@import "../../sass/button-styles";

.rodal-dialog {
  .modal-content {
    button {
      position: absolute;
      top: 20px;
      right: 15px;
      @include button-styles(hsl(37, 100%, 64%));
    }
  }
}
