#Tools .tool.selected {
  border: 1px #000 solid;
}
#MoveTouch {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px dashed red;
  height: 180px;
  width: 180px;

  display: grid;
  grid-template-areas:
    "TOP TOP"
    "LEFT RIGHT"
    "BOTTOM BOTTOM";
}

#MoveTouch .LEFT {
  grid-area: LEFT;
  text-align: left;
}
#MoveTouch .TOP {
  grid-area: TOP;
  text-align: center;
}
#MoveTouch .RIGHT {
  grid-area: RIGHT;
  text-align: right;
}
#MoveTouch .BOTTOM {
  grid-area: BOTTOM;
  text-align: center;
}

#ToolTouch {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px dashed red;
  height: 180px;
  width: 180px;

  display: grid;
  grid-template-areas: "FLAG TREASURE";
}

#ToolTouch .CLEAN {
  display: none;
}
#ToolTouch .FLAG {
  grid-area: FLAG;
  text-align: left;
  margin-top: 52px;
}
#ToolTouch .FLAG .nes-icon {
  color: red;
}
#ToolTouch .TREASURE {
  grid-area: TREASURE;
  text-align: right;
  margin-top: 52px;
}
