@import "~css.gg/icons/chevron-left.css";
@import "~css.gg/icons/chevron-up.css";
@import "~css.gg/icons/chevron-right.css";
@import "~css.gg/icons/chevron-down.css";

@import "../../sass/button-styles";

#MoveTouch {
  position: fixed;
  bottom: 10px;
  left: 10px;
  height: 155px;
  width: 155px;

  display: grid;
  grid-template-areas:
    "TOP TOP"
    "LEFT RIGHT"
    "BOTTOM BOTTOM";

  button {
    @include button-styles(hsl(0, 0%, 84%));

    box-sizing: border-box;
    user-select: none;
    width: 48px;
    height: 48px;
  }
  .LEFT {
    grid-area: LEFT;
    text-align: left;
  }
  .TOP {
    grid-area: TOP;
    text-align: center;
  }
  .RIGHT {
    grid-area: RIGHT;
    text-align: right;
  }
  .BOTTOM {
    grid-area: BOTTOM;
    text-align: center;
  }

  i {
    position: absolute;
  }
}

#ToolTouch {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 155px;
  width: 155px;

  display: grid;
  grid-template-areas: "buttonA buttonB";

  button {
    box-sizing: border-box;
    user-select: none;
    height: 48px;
    width: 48px;
  }
  .buttonA,
  .buttonB {
    margin-top: 56px;
  }
  .buttonA {
    grid-area: buttonA;
    text-align: left;
    button {
      @include button-styles(hsl(355, 100%, 52%));
    }
  }
  .buttonB {
    grid-area: buttonB;
    text-align: right;

    button {
      @include button-styles(hsl(37, 100%, 64%));
    }
  }
}
