@import "~css.gg/icons/chevron-left.css";
@import "~css.gg/icons/chevron-up.css";
@import "~css.gg/icons/chevron-right.css";
@import "~css.gg/icons/chevron-down.css";

#MoveTouch {
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px dashed red;
  height: 170px;
  width: 170px;

  display: grid;
  grid-template-areas:
    "TOP TOP"
    "LEFT RIGHT"
    "BOTTOM BOTTOM";

  button {
    box-sizing: border-box;
    user-select: none;
    width: 48px;
    height: 48px;
  }
  .LEFT {
    grid-area: LEFT;
    text-align: left;
  }
  .TOP {
    grid-area: TOP;
    text-align: center;
  }
  .RIGHT {
    grid-area: RIGHT;
    text-align: right;
  }
  .BOTTOM {
    grid-area: BOTTOM;
    text-align: center;
  }
}

#ToolTouch {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px dashed red;
  height: 170px;
  width: 170px;

  display: grid;
  grid-template-areas: "buttonA buttonB";

  button {
    box-sizing: border-box;
    user-select: none;
    height: 48px;
    width: 48px;
  }
  .buttonA,
  .buttonB {
    margin-top: 56px;
  }
  .buttonA {
    grid-area: buttonA;
    text-align: left;
  }
  .buttonB {
    grid-area: buttonB;
    text-align: right;
  }
}
