@import "~magic.css/assets/scss/bomb/bombLeftOut";
// magictime
// @import "~magic.css/assets/scss/magictime";

.Player {
  z-index: 2;

  &.magictime {
    animation-duration: 2s;
    animation-fill-mode: both;
  }
}
